<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Recording</title>
    <link rel="stylesheet" href={{url_for('static', filename='styles.css')}}>
</head>

<body>
    {% include 'header.html' %}
    <body>
        <button id="start-button">Start Capture</button>
        <button id="stop-button">Stop Capture</button>
        <script src={{url_for("static", filename="record.js")}}></script>
      </body>
    <footer>

    </footer>
</body>

</html>

<script>
    /* Toggle between showing and hiding the navigation menu links when the user clicks on the hamburger menu / bar icon */
    function myFunction() {
        var x = document.getElementById("myLinks");
        if (x.style.display === "block") {
            x.style.display = "none";
        } else {
            x.style.display = "block";
        }
    }
</script>