<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Recording</title>
    <link rel="stylesheet" href={{url_for('static', filename='styles.css')}}>
</head>
<main>
    {% include 'header.html' %}
    <h1>Record</h1>
    <p>Record a File for Transcription</p>
    <button id="start-button">Start Capture</button>
        <button id="stop-button">Stop Capture</button>
        <script src={{url_for("static", filename="record.js")}}></script>
        <br />
    <h2>Transcript:</h2>
    <div class="border">
      <h3>Abstract Summary</h3>
      <p>{{content1}}</p>
      <br />
      <h3>Extractive Summary</h3>
      <p>{{content2}}</p>
      <br />
      <h3>Transcription</h3>
      <p>{{content3}}</p>
    </div>
  </main>

    <footer>

    </footer>

</html>

<script>
    /* Toggle between showing and hiding the navigation menu links when the user clicks on the hamburger menu / bar icon */
    function myFunction() {
        var x = document.getElementById("myLinks");
        if (x.style.display === "block") {
            x.style.display = "none";
        } else {
            x.style.display = "block";
        }
    }
</script>