body{
    background-color:#C2BDAD;
    margin: 0px 0px;
}
h1,h2,h3{
    color:#1C1018;
    margin: 10px 5px;
}

p{
    color:#1C1018;
}

header,footer,main{
    border: 0px solid #DEDBD2;
    margin: 0px auto;
    width:83vw;
    background-color: #DEDBD2;
}

a:link{
    color:#DA4167;
}
a:visited{
    color:#AD5E72;
}
a:focus{
    color:#214F4B;
}
a:hover{
    color:#B0C4B1;
}
a:active{
    color:#DEDBD2;
}

/* Style the navigation menu */
.topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
  }
  
  /* Style navigation menu links */
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
    background: #1C1018;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    background-color: #B0C4B1;
    color: #1C1018;
  }
  
  /* Style the active link (or home/logo) */
  .active {
    background-color: #214F4B;
    color: white;
  }

  